.Button{
    padding: 5px 10px;
    color: white;
    background: #474F3F;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    margin: auto;
}

.Button:hover{
    background-color: rgba(255,255,255,.2);
}
.Button:active{
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.3);
}