.PersonalInfo{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
}
.PersonalInfo h1{
    border-bottom: 1px solid #fff;
    text-align: center;
    margin-bottom: 20px;
}
