.MenuToggel{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: rgb(155, 150, 103);
    transform: translateX(0px);
    transition: transform .22s ease-in;
    z-index: 100;
}

.MenuToggel.close{
    transform: translateX(300px);
}

.MenuToggel h1 {
    margin:0;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 10px;
}